<div class="payment-icons">
  <img src="{{ 'visa.svg' | asset_url }}" alt="Visa" class="payment-icon">
  <img src="{{ 'mastercard.svg' | asset_url }}" alt="Mastercard" class="payment-icon">
  <img src="{{ 'amex.svg' | asset_url }}" alt="American Express" class="payment-icon">
  <img src="{{ 'discover.svg' | asset_url }}" alt="Discover" class="payment-icon">
  <img src="{{ 'paypal.svg' | asset_url }}" alt="PayPal" class="payment-icon">
  <img src="{{ 'apple-pay.svg' | asset_url }}" alt="Apple Pay" class="payment-icon">
  <img src="{{ 'klarna.svg' | asset_url }}" alt="Klarna" class="payment-icon">
</div>
